[Slack]
token: slack-token
channel : #alert-channel-name

[MailGun]
publicKey : public-key
privateKey : private-key
domain : sandboxSOMENUMBERS.mailgun.org
authorized_recipient: mailgun_authorized_recipient@recipient.com

